@* @model GestordeTaras.EN.Categoria *@
@model GestordeTareas.UI.DTOs.CategoriaDTOs.CategoriaReadDTO
<div class="p-2">
    <dl class="grid grid-cols-3 gap-y-3">
        <dt class="font-semibold text-gray-700">ID:</dt>
        <dd class="col-span-2 text-gray-600">@Model.Id</dd>

        <dt class="font-semibold text-gray-700">Nombre:</dt>
        <dd class="col-span-2 text-gray-600">@Model.Nombre</dd>
    </dl>
</div>
